<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.album.mapper.AlbumMapper">
    <select id="list" resultType="to">
        select seq, subject, writer, imagename, date_format(wdate, '%Y-%m-%d') wdate, hit, datediff(now(), wdate) wgap
        from album_board1
        order by seq desc
    </select>

    <select id="view" parameterType="to" resultType="to">
        select seq, subject, writer, mail, wip, wdate, hit, content, imagename, imagesize
        from album_board1
        where seq=#{seq}
    </select>

    <update id="view_hit" parameterType="to">
        update album_board1
        set hit=hit+1
        where seq=#{seq}
    </update>

    <insert id="write_ok" parameterType="to">
        insert into album_board1
        values ( 0, #{subject}, #{writer}, #{mail}, password(#{password}), #{content}, #{imagename}, #{imagesize}, 0, #{wip}, now() )
    </insert>

    <select id="imagename" parameterType="to" resultType="String">
        select imagename
        from album_board1
        where seq = #{seq}
    </select>

    <select id="modify" parameterType="to" resultType="to">
        select seq, subject, writer, mail, content, imagename
        from album_board1
        where seq=#{seq}
    </select>

    <update id="modify_ok1" parameterType="to">
        update album_board1
        set subject=#{subject}, mail=#{mail}, content=#{content}, imagename=#{imagename}, imagesize=#{imagesize}
        where password=password(#{password}) and seq=#{seq}
    </update >

    <update id="modify_ok2" parameterType="to">
        update album_board1
        set subject=#{subject}, mail=#{mail}, content=#{content}, imagename=#{imagename}, imagesize=#{imagesize}
        where password=password(#{password}) and seq=#{seq}
    </update >

    <select id="delete" parameterType="to" resultType="to">
        select seq, subject, writer
        from album_board1
        where seq=#{seq}
    </select>

    <delete id="delete_ok" parameterType="to">
        delete
        from album_board1
        where password=password(#{password}) and seq=#{seq}
    </delete>
</mapper>